/BiFunctionExample.class
/BiPredicateExample.class
/CombiningTwoPredicatesToCheckComplexConditions.class
/Emp.class
/Employ.class
/Employee.class
/FunctionInterfaceExample.class
/FunctionalInterfaceExample2.class
/Interf.class
/InterfMain.class
/ListToArray.class
/MyComparator.class
/PredicateExample.class
/ShuffleArray.class
/SortingUsingComparator.class
/StreamsDemo.class
/StreamsDemo2.class
/StreamsExample.class
/Student.class
/SupplierPIExample.class
/ToStringofObject.class
/UsingStreams.class
